extends layout

block content
  h2 Admin – Manage Grocery Items
  p.text-muted Add or remove items from the master grocery list.

  .text-end.mb-3
    button.btn.btn-primary Add New Item

  table.table.table-hover
    thead
      tr
        th Name
        th Category
        th Eco-Score
        th Packaging
        th Action

    tbody
      tr
        td Organic Pasta
        td Grains
        td 80
        td Cardboard
        td 
          button.btn.btn-danger.btn-sm Delete

      tr
        td Oat Milk
        td Dairy Alternative
        td 78
        td Recyclable
        td 
          button.btn.btn-danger.btn-sm Delete

      tr
        td Chickpeas (Canned)
        td Protein
        td 80
        td Metal Can
        td 
          button.btn.btn-danger.btn-sm Delete
