extends layout

block content
  h2 Grocery Items (Dynamic)
  if items && items.length
    table.table.table-bordered
      thead
        tr
          th Name
          th Category
          th Eco Score
          th Carbon Footprint (kg CO₂)
      tbody
        each item in items
          tr
            td= item.name
            td= item.category
            td= item.eco_score
            td= item.carbon_footprint
  else
    p No items found.
