extends layout

block content
  .p-5.text-center(style="background:linear-gradient(135deg,#00C853,#A5D6A7);color:white;border-radius:12px;")
    h1 Sustainable Grocery Tracker
    p Shop eco-friendly groceries easily.

    a.btn.btn-dark.btn-lg.mt-3(href="/login") Login
    a.btn.btn-light.btn-lg.mt-3.ms-2(href="/register") Register
