extends layout

block content
  .container.mt-5(style="max-width:430px;")
    .card.shadow.p-4
      h3.text-center Login

      form(action="/login" method="POST")
        .mb-3
          label Email
          input.form-control(type="email" name="email" required)
        .mb-3
          label Password
          input.form-control(type="password" name="password" required)

        button.btn.btn-success.w-100(type="submit") Login

      p.text-center.mt-3
        | New user?
        a(href="/register") Register
